<header>
    <div class="logo">
    <a href="/">
        <img class="logo-img" src="imagenes/logofinal.svg" alt="logo" />
    </a>
    </div>
    <nav class="nav">
    <ul class="nav-top">
        <li>
        <a href="/nbirras">Nuestras Birras</a>
        </li>
        <li>
        <a href="/quienes">Quienes Somos</a>
        </li>
        <li>
        <a href="#">Contacto</a>
        </li>
    </ul>
    <ul class="nav-bottom">
        <li>
        <a href="/login">Ingresá</a>
        </li>
        <li>
        <a href="/registro">Registrate</a>
        </li>
    </ul>
    </nav>
    <div class="menu-y-carrito">
    <a href="#">
        <i id="hamburguer-menu" class="fas fa-bars"></i>
    </a>
    <a href="/carrito" class="carrito-icon">
        <i class="fa-solid fa-cart-shopping"></i>
    </a>
    </div>
</header>