<!DOCTYPE html>
<html lang="es">
  <%- include ('../partials/head', {css: 'css/carrito.css',title: 'Carrito 🛒'} ) %>

  <body>
    <!-- header -->
    <%- include ('../partials/header') %>

    <!-- seccion carrito -->
    <section class="carrito-container">
      <div class="items-carrito-container">
        <h3>Tu carrito</h3>
        <article class="item-carrito">
          <div class="producto">
            <img
              class="producto-imagen"
              src="imagenes/productos/kira.jpg"
              alt="juego absudro ipa"
            />
            <div class="producto-texto">
              <h4>KIRA Sora Session IPA</h4>
              <div class="producto-detalles">
                <div>
                  <h5 class="producto-precio-texto">Precio unidad:</h5>
                  <h5 class="producto-cantidad">Cantidad:</h5>
                  <h5 class="producto-subtotal-texto">Subtotal:</h5>
                </div>
                <div>
                  <p class="producto-precio">$450</p>
                  <div class="producto-boton-cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                  </div>
                  <p class="producto-subtotal">$450</p>
                </div>
              </div>
            </div>
          </div>
          <button class="producto-boton-eliminar">
            <i class="fa-solid fa-trash-can"></i>
            Quitar del carrito
          </button>
        </article>
        <article class="item-carrito">
          <div class="producto">
            <img
              class="producto-imagen"
              src="imagenes/miel.jpg"
              alt="temple honey"
            />
            <div class="producto-texto">
              <h4>Temple Honey</h4>
              <div class="producto-detalles">
                <div>
                  <h5 class="producto-precio-texto">Precio unidad:</h5>
                  <h5 class="producto-cantidad">Cantidad:</h5>
                  <h5 class="producto-subtotal-texto">Subtotal:</h5>
                </div>
                <div>
                  <p class="producto-precio">$450</p>
                  <div class="producto-boton-cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                  </div>
                  <p class="producto-subtotal">$450</p>
                </div>
              </div>
            </div>
          </div>
          <button class="producto-boton-eliminar">
            <i class="fa-solid fa-trash-can"></i>
            Quitar del carrito
          </button>
        </article>
        <article class="item-carrito">
          <div class="producto">
            <img
              class="producto-imagen"
              src="imagenes/ortuzar.jpeg"
              alt="ortuzar poker bourbon"
            />
            <div class="producto-texto">
              <h4>Ortuzar Poker Borboun</h4>
              <div class="producto-detalles">
                <div>
                  <h5 class="producto-precio-texto">Precio unidad:</h5>
                  <h5 class="producto-cantidad">Cantidad:</h5>
                  <h5 class="producto-subtotal-texto">Subtotal:</h5>
                </div>
                <div>
                  <p class="producto-precio">$450</p>
                  <div class="producto-boton-cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                  </div>
                  <p class="producto-subtotal">$450</p>
                </div>
              </div>
            </div>
          </div>
          <button class="producto-boton-eliminar">
            <i class="fa-solid fa-trash-can"></i>
            Quitar del carrito
          </button>
        </article>
        <article class="item-carrito">
          <div class="producto">
            <img
              class="producto-imagen"
              src="imagenes/peñonkolsh.png"
              alt="peñon del aguila kolsh"
            />
            <div class="producto-texto">
              <h4>Peñon del Aguila Kolsh</h4>
              <div class="producto-detalles">
                <div>
                  <h5 class="producto-precio-texto">Precio unidad:</h5>
                  <h5 class="producto-cantidad">Cantidad:</h5>
                  <h5 class="producto-subtotal-texto">Subtotal:</h5>
                </div>
                <div>
                  <p class="producto-precio">$450</p>
                  <div class="producto-boton-cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                  </div>
                  <p class="producto-subtotal">$450</p>
                </div>
              </div>
            </div>
          </div>
          <button class="producto-boton-eliminar">
            <i class="fa-solid fa-trash-can"></i>
            Quitar del carrito
          </button>
        </article>
      </div>
      <div class="resumen-compra-container">
        <h3>Resumen de Compra</h3>
        <div class="subtotal-container">
          <div>
            <h5>Subtotal</h5>
            <h5>Envío</h5>
          </div>
          <div>
            <p>$1500</p>
            <p>$300</p>
          </div>
        </div>
        <div class="total-container">
          <h4>Total a pagar</h4>
          <p>$1800</p>
        </div>
        <button class="boton-pagar">Pagar</button>
      </div>
    </section>
    <!-- footer -->
    <%- include ('../partials/footer') %>
  </body>
</html>
