<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Epa la Ipa - mi carrito 🛒</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/ac6d87077a.js"
      crossorigin="anonymous"
    ></script>
    <!-- css -->
    <link rel="stylesheet" href="css/carrito.css" />
  </head>

  <body>
    <!-- header -->
    <header>
      <div class="logo">
        <a href="home">
          <img class="logo-img" src="imagenes/logo2.png" alt="logo" />
        </a>
      </div>
      <nav class="nav">
        <ul class="nav-top">
          <li>
            <a href="#">Nuestras Birras</a>
          </li>
          <li>
            <a href="quienes">Quienes Somos</a>
          </li>
          <li>
            <a href="#">Contacto</a>
          </li>
        </ul>
        <ul class="nav-bottom">
          <li>
            <a href="login">Ingresá</a>
          </li>
          <li>
            <a href="registro">Registrate</a>
          </li>
        </ul>
      </nav>
      <div class="menu-y-carrito">
        <a href="#">
          <i id="hamburguer-menu" class="fas fa-bars"></i>
        </a>
        <a href="#" class="carrito-icon">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>
    </header>
    <!-- seccion carrito -->
    <section class="carrito-container">
      <div class="items-carrito-container">
        <h3>Tu carrito</h3>
        <article class="item-carrito">
          <div class="producto">
            <img
              class="producto-imagen"
              src="imagenes/kira.jpg"
              alt="juego absudro ipa"
            />
            <div class="producto-texto">
              <h4>KIRA Sora Session IPA</h4>
              <div class="producto-detalles">
                <div>
                  <h5 class="producto-precio-texto">Precio unidad:</h5>
                  <h5 class="producto-cantidad">Cantidad:</h5>
                  <h5 class="producto-subtotal-texto">Subtotal:</h5>
                </div>
                <div>
                  <p class="producto-precio">$450</p>
                  <div class="producto-boton-cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                  </div>
                  <p class="producto-subtotal">$450</p>
                </div>
              </div>
            </div>
          </div>
          <button class="producto-boton-eliminar">
            <i class="fa-solid fa-trash-can"></i>
            Quitar del carrito
          </button>
        </article>
        <article class="item-carrito">
          <div class="producto">
            <img
              class="producto-imagen"
              src="imagenes/miel.jpg"
              alt="temple honey"
            />
            <div class="producto-texto">
              <h4>Temple Honey</h4>
              <div class="producto-detalles">
                <div>
                  <h5 class="producto-precio-texto">Precio unidad:</h5>
                  <h5 class="producto-cantidad">Cantidad:</h5>
                  <h5 class="producto-subtotal-texto">Subtotal:</h5>
                </div>
                <div>
                  <p class="producto-precio">$450</p>
                  <div class="producto-boton-cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                  </div>
                  <p class="producto-subtotal">$450</p>
                </div>
              </div>
            </div>
          </div>
          <button class="producto-boton-eliminar">
            <i class="fa-solid fa-trash-can"></i>
            Quitar del carrito
          </button>
        </article>
        <article class="item-carrito">
          <div class="producto">
            <img
              class="producto-imagen"
              src="imagenes/ortuzar.jpeg"
              alt="ortuzar poker bourbon"
            />
            <div class="producto-texto">
              <h4>Ortuzar Poker Borboun</h4>
              <div class="producto-detalles">
                <div>
                  <h5 class="producto-precio-texto">Precio unidad:</h5>
                  <h5 class="producto-cantidad">Cantidad:</h5>
                  <h5 class="producto-subtotal-texto">Subtotal:</h5>
                </div>
                <div>
                  <p class="producto-precio">$450</p>
                  <div class="producto-boton-cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                  </div>
                  <p class="producto-subtotal">$450</p>
                </div>
              </div>
            </div>
          </div>
          <button class="producto-boton-eliminar">
            <i class="fa-solid fa-trash-can"></i>
            Quitar del carrito
          </button>
        </article>
        <article class="item-carrito">
          <div class="producto">
            <img
              class="producto-imagen"
              src="imagenes/peñonkolsh.png"
              alt="peñon del aguila kolsh"
            />
            <div class="producto-texto">
              <h4>Peñon del Aguila Kolsh</h4>
              <div class="producto-detalles">
                <div>
                  <h5 class="producto-precio-texto">Precio unidad:</h5>
                  <h5 class="producto-cantidad">Cantidad:</h5>
                  <h5 class="producto-subtotal-texto">Subtotal:</h5>
                </div>
                <div>
                  <p class="producto-precio">$450</p>
                  <div class="producto-boton-cantidad">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                  </div>
                  <p class="producto-subtotal">$450</p>
                </div>
              </div>
            </div>
          </div>
          <button class="producto-boton-eliminar">
            <i class="fa-solid fa-trash-can"></i>
            Quitar del carrito
          </button>
        </article>
        
      </div>
      <div class="resumen-compra-container">
        <h3>Resumen de Compra</h3>
        <div class="subtotal-container">
          <div>
            <h5>Subtotal</h5>
            <h5>Envío</h5>
          </div>
          <div>
            <p>$1500</p>
            <p>$300</p>
          </div>
        </div>
        <div class="total-container">
          <h4>Total a pagar</h4>
          <p>$1800</p>
        </div>
        <button class="boton-pagar">Pagar</button>
      </div>
    </section>
    <!-- footer -->
    <footer>
      <div class="footer-sections-container">
        <div class="footer-categorias-container">
          <h4>Categorías</h4>
          <ul>
            <li><a href="/">Home🏡</a></li>
            <li><a href="/producto">Nuestras birras🍻</a></li>
            <li><a href="https://github.com/scalella/grupo_2_Epa_La_Ipa#readme">Quienes somos👀</a></li>
          </ul>
        </div>
        <div class="footer-contacto-container">
          <h4>Contacto</h4>
          <p>ventas@epa-la-ipa.tom.ar 📧</p>
          <p>Av. Lúpulo 420 🍁</p>
          <p>011 5263-7400 📞</p>
        </div>
        <div class="footer-entregas-container">
          <h4>Entregas</h4>
          <p>
            Realizamos envío a todo el país por correo.🚐<br />
            Entregas en CABA por motomensajería.🛵
          </p>
        </div>
      </div>
      <div class="copyright-container">
        <p class="texto-footer">Copyright © 2022 Epa la Ipa S.R.L.</p>
        <p class="texto-footer">
          Sitio web diseñado y desarrollado por
          <a
            href="https://github.com/scalella/grupo_2_Epa_La_Ipa"
            target="_blank"
            >Grupo Dos</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
