<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head", {css:"/css/carga-producto.css" , title:"EDITAR PRODUCTO ✂"}) %>
<body>
    <%- include ("partials/header") %>
    <form action="/producto/CARGA"  method="POST">
        <div class= "carga-nombre">
            <label>Nombre:</label>
            <input type="text" name="nombre" placeholder="Indicar nombre" required>
        </div>
        <div class= "carga-marca">
                <label>Marca:</label>
                <input type="text" name="marca" placeholder="Indicar marca" required>
            </div> 
            <form action="/producto/CARGA"  method="POST">
        <div class= "carga-nombre">
            <label>Nombre:</label>
            <input type="text" name="nombre" placeholder="Indicar nombre" required>
        </div> 
        <div class= "carga-ABV">
            <label>ABV(%):</label>
            <input type="number" name="ABV" placeholder="Indicar ABV(%)" required>
        </div> 
        <div class= "carga-IBU">
            <label>IBU(%):</label>
            <input type="number" name="IBU" placeholder="Indicar IBU(%)" required>
        </div>
        <div class= "carga-contenido">
            <label>Contenido (ml):</label>
            <input type="number" name="contenido" placeholder="Indicar contenido" required>
        </div>     
        <div class= "carga-precio">
            <label>Precio:</label>
            <input type="number" name="precio" placeholder="Indicar precio" required>
        </div>
        <div class= "carga-foto">
            <label>Foto:</label>
            <input type="file" name="foto" placeholder="Indicar imagen" required>
        </div>
        <div class= "carga-stock">
            <label>Stock:</label>
            <input type="number" name="stock" placeholder="Indicar stock" required>
        </div>
        <div><button type="submit" id="BotonEditar">EDITAR</button>
        </div>
    </form>

</body>
</html>