<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head', {css: 'css/stilohome.css'}) %>

<body>
  <%- include ('partials/header') %>

  <div class="musica">
  <audio controls autoplay loop>
    <source src="/musica/01. Flies.mp3" type="audio/mpeg">
    </audio></div>
  <section>
    <div class="calesita"><img src="IMAGENES/01020100041.jpg" alt="imagen 1" class="carrousel"></div>
  </section>

  <div class="gifbanner"><img src="IMAGENES/b1.gif" alt = banner class="gif1"></div>

  <section class="cinta">

    <div class="titulo-cinta">
      <h1>LAS MAS VENDIDAS:</h1>
    </div>

    <div class="latas">

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/ipa.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">CERVEZA IPA</p>
            </a></div>
          <div>
            <p class="precio">$400</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/golden.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">MIL ALMAS / GOLDEN</p>
            </a></div>
          <div>
            <p class="precio">$520</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/atlantica-01.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">ANTARES ATLANTICA</p>
            </a></div>
          <div>
            <p class="precio">$500</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/apa.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">MANUSH APA</p>
            </a></div>
          <div>
            <p class="precio">$555</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/miel.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">TEMPLE HONEY</p>
            </a></div>
          <div>
            <p class="precio">$390</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/peñonkolsh.png" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">PEÑON DEL AGUILA / KOLSH</p>
            </a></div>
          <div>
            <p class="precio">$490</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

    </div>

  </section>
  <div class="titulo-cinta">
    <h1>ELEGIR UNO DE ESTOS DOS GIF... CON RESPONSABILIDAD XD 👽</h1></div>
  <div class="gifbanner"><img src="IMAGENES/b2.gif" alt = banner class="gif1"></div>
  <div class="gifbanner"><img src="IMAGENES/b3.gif" alt = banner class="gif1"></div>

  <section class="cinta">
    <div class="titulo-cinta">
      <h1>OFERTAS PARA VOS:</h1>
    </div>
    <div class="latas">

      <div class="lata">
        <div class="liquido">
          <div> <a href="/producto"><img src="IMAGENES/ortuzar.jpeg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">ORTUZAR POKER</p>
            </a></div>
          <div>
            <p class="precio">$390</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/blestipa.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">BLEST IPA</p>
            </a></div>
          <div>
            <p class="precio">$450</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/peñonkolsh.png" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">PEÑON DEL AGUILA / KOLSH</p>
            </a></div>
          <div>
            <p class="precio">$490</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/kira.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">KIRA SORA</p>
            </a></div>
          <div>
            <p class="precio">$355</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/blestpilsen.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">BLEST PILSEN</p>
            </a></div>
          <div>
            <p class="precio">$370</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/ipa.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">CERVEZA IPA</p>
            </a></div>
          <div>
            <p class="precio">$400</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
        </div>
      </div>
    </div>

  </section>
  <%- include ('partials/footer') %>

</body>
</html>
