<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Epa la Ipa 🍺</title>
  <link rel="stylesheet" href="CSS/stilohome2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
    rel="stylesheet" />
  <script src="https://kit.fontawesome.com/ac6d87077a.js" crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <div class="logo">
      <a href="/">
        <img class="logo-img" src="imagenes/logo2.png" alt="logo" />
      </a>
    </div>
    <nav class="nav">
      <ul class="nav-top">
        <li>
          <a href="/producto">Nuestras Birras</a>
        </li>
        <li>
          <a href="/quienes">Quienes Somos</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>
      <ul class="nav-bottom">
        <li>
          <a href="/login">Ingresá</a>
        </li>
        <li>
          <a href="/registro">Registrate</a>
        </li>
      </ul>
    </nav>
    <div class="menu-y-carrito">
      <a href="#">
        <i id="hamburguer-menu" class="fas fa-bars"></i>
      </a>
      <a href="/carrito" class="carrito-icon">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </div>
  </header>

  <section>
    <div class="calesita"><img src="IMAGENES/01020100041.jpg" alt="imagen 1" class="carrousel"></div>
  </section>

  <section class="cinta">

    <div class="titulo-cinta">
      <h1>LAS MAS VENDIDAS:</h1>
    </div>

    <div class="latas">

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/ipa.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">CERVEZA IPA</p>
            </a></div>
          <div>
            <p class="precio">$400</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/golden.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">MIL ALMAS / GOLDEN</p>
            </a></div>
          <div>
            <p class="precio">$520</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/atlantica-01.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">ANTARES ATLANTICA</p>
            </a></div>
          <div>
            <p class="precio">$500</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/apa.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">MANUSH APA</p>
            </a></div>
          <div>
            <p class="precio">$555</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/miel.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">TEMPLE HONEY</p>
            </a></div>
          <div>
            <p class="precio">$390</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/peñonkolsh.png" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">PEÑON DEL AGUILA / KOLSH</p>
            </a></div>
          <div>
            <p class="precio">$490</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

    </div>

  </section>

  <section class="cinta">
    <div class="titulo-cinta">
      <h1>OFERTAS PARA VOS:</h1>
    </div>
    <div class="latas">

      <div class="lata">
        <div class="liquido">
          <div> <a href="/producto"><img src="IMAGENES/ortuzar.jpeg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">ORTUZAR POKER</p>
            </a></div>
          <div>
            <p class="precio">$390</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/blestipa.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">BLEST IPA</p>
            </a></div>
          <div>
            <p class="precio">$450</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/peñonkolsh.png" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">PEÑON DEL AGUILA / KOLSH</p>
            </a></div>
          <div>
            <p class="precio">$490</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/kira.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">KIRA SORA</p>
            </a></div>
          <div>
            <p class="precio">$355</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/blestpilsen.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">BLEST PILSEN</p>
            </a></div>
          <div>
            <p class="precio">$370</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito">AGREGAR AL CARRITO</a></div>
        </div>
      </div>

      <div class="lata">
        <div class="liquido">
          <div><a href="/producto"><img src="IMAGENES/ipa.jpg" alt="lata" class="lata-img"></a></div>
          <div><a href="/producto">
              <p class="descripcion">CERVEZA IPA</p>
            </a></div>
          <div>
            <p class="precio">$400</p>
          </div>
          <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
        </div>
      </div>
    </div>

  </section>

  <footer>
    <div class="footer-sections-container">
      <div class="footer-categorias-container">
        <h4>Categorías</h4>
        <ul>
          <li><a href="/">Home🏡</a></li>
          <li><a href="/producto">Nuestras birras🍻</a></li>
          <li><a href="https://github.com/scalella/grupo_2_Epa_La_Ipa#readme">Quienes somos👀</a></li>
          </ul>
      </div>
      <div class="footer-contacto-conteiner">
        <h4>Contacto</h4>
        <p>ventas@epa-la-ipa.tom.ar 📧</p>
        <p>Av. Lúpulo 420 🍁</p>
        <p>011 5263-7400 📞</p>
      </div>

      <div class="footer-entregas-container">
        <h4>Entregas</h4>
        <p>
          Realizamos envío a todo el país por correo.🚐<br />
          Entregas en CABA por motomensajería.🛵
        </p>
      </div>
    </div>
    <div class="copyright-container">
      <p class="texto-footer">Copyright © 2022 Epa la Ipa S.R.L.</p>
      <p class="texto-footer">
        Sitio web diseñado y desarrollado por
        <a href="https://github.com/scalella/grupo_2_Epa_La_Ipa" target="_blank">Grupo Dos</a>
      </p>
    </div>
  </footer>
</body>

</html>