<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Epa la Ipa 🍺</title>
        <link rel="stylesheet" href="CSS/product.css">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
          rel="stylesheet" />
        <script src="https://kit.fontawesome.com/ac6d87077a.js" crossorigin="anonymous"></script>

      
    </head>
<body >
    <header>
        <div class="logo">
          <a href="/">
            <img class="logo-img" src="imagenes/logo2.png" alt="logo" />
          </a>
        </div>
        <nav class="nav">
          <ul class="nav-top">
            <li>
              <a href="/producto">Nuestras Birras</a>
            </li>
            <li>
              <a href="/quienes">Quienes Somos</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
          </ul>
          <ul class="nav-bottom">
            <li>
              <a href="/login">Ingresá</a>
            </li>
            <li>
              <a href="/registro">Registrate</a>
            </li>
          </ul>
        </nav>
        <div class="menu-y-carrito">
          <a href="#">
            <i id="hamburguer-menu" class="fas fa-bars"></i>
          </a>
          <a href="/carrito" class="carrito-icon">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </div>
      </header>
          
      

       <section class="lataa">
        <div class="lugar-de-lataACDC"> 
            <div><img   src="/IMAGENES/adcd beer.webp" alt="Y segundo brasil" class="lataACDC"></img></div></div>
        <div class="description"> <span><p><h2>Cerveza Epa la ipa Session lata 473ml</h2></p></span>
                                  <span><p>Es una Cerveza de cuerpo y carbonatación 
                                  media, arranca con dulzor frutal e intensidad para 
                                  terminar con amargor amigo y un hint cítrico que 
                                  la hacen easy de tomar.</p></span>
                                  <span><p>ABV: 4.33%</p>

                                  <p> IBU: 31 </p>
            
                                  <p>CAL: 37 (Kcal / 100ml)</p></span></div>
                                  <div class=" lugar-del-boton"><button class="boton-comprar">Comprar</button></div>
                                  <div class=" lugar-del-carrito"><button class="boton-carrito"></button></div>
                                
                                <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
                                  </section>
                                  <footer>
    <div class="footer-sections-container">
      <div class="footer-categorias-container">
        <h4>Categorías</h4>
        <ul>
          <li><a href="/">Home🏡</a></li>
          <li><a href="/producto">Nuestras birras🍻</a></li>
          <li><a href="https://github.com/scalella/grupo_2_Epa_La_Ipa#readme">Quienes somos👀</a></li>
          </ul>
      </div>
      <div class="footer-contacto-conteiner">
        <h4>Contacto</h4>
        <p>ventas@epa-la-ipa.tom.ar 📧</p>
        <p>Av. Lúpulo 420 🍁</p>
        <p>011 5263-7400 📞</p>
      </div>

      <div class="footer-entregas-container">
        <h4>Entregas</h4>
        <p>
          Realizamos envío a todo el país por correo.🚐<br />
          Entregas en CABA por motomensajería.🛵
        </p>
      </div>
    </div>
    <div class="copyright-container">
      <p class="texto-footer">Copyright © 2022 Epa la Ipa S.R.L.</p>
      <p class="texto-footer">
        Sitio web diseñado y desarrollado por
        <a href="https://github.com/scalella/grupo_2_Epa_La_Ipa" target="_blank">Grupo Dos</a>
      </p>
    </div>
  </footer>
</body>
</html>