<!DOCTYPE html>
<html lang="es">
    <%- include ('partials/head', {css: 'css/product.css', title: 'MIRA ESTA BIRRA 游꽅'}) %>
   
<body >
    <%- include ('partials/header') %>

    <section class="product-container">
        <div class="containerfotoproducto"> 
            <img  src="/IMAGENES/adcd beer.png" alt="foto del producto" class="fotoproducto"/>
        </div>
        <div class="description">
            <h2>Cerveza Epa la ipa Session lata 473ml</h2>
             <br>        
            <div class="magia">Dentro de poco tiempo se va a licitar  un sistema de vuelos espaciales mediante el cual desde una  plataforma, que quiz치 se instale en la provincia de C칩rdoba, esas naves van a salir de la atm칩sfera, se van a remontar a la estratosfera, y desde ah칤 elegir치n el lugar donde quieran ir De tal forma que en una hora y media podremos estar en Jap칩n, Corea o en cualquier parte del mundo.</div>
            <br>
            <p>ABV: 4.33%</p>
            <p> IBU: 31 </p>
            <p>CAL: 37 (Kcal / 100ml)</p>
            <div class="carrito-lata"><a class="linkcarrito" href="/carrito"> AGREGAR AL CARRITO </a></div>
        </div>
        <!-- <div class="carritoicono">
            <i class="fa-solid fa-cart-shopping"><a href="/carrito" class="carrito-icon"></a> Agregar al carrito</i>
        </div>  -->
    </section>
    <%- include ('partials/footer') %>

</body>
</html>