<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head', {css: 'css/quienes.css'}) %>

<body> 
  <%- include ('partials/header') %>

      <div class="descripcion">
        <h1> SOMOS EPA LA IPA 游꽄</h1>

          <img class="nosotros" src="imagenes/los epa.png" alt="aliens" />

          <div class="textito"> <h3>Cuando llegamos a la tierra en nuestra nave SCRUM-TN10, lo primero que probamos fue cerveza, y de ahi nuestro nombre.</h3><h3>Nuestro emprendimiento surge con un doble prop칩sito: ayudar a productores locales de cervezas artesanales a visibilizar y vender sus productos por un lado, brindar un medio f치cil de adquisici칩n online a todos los consumidores interesados por el otro.<br />
         El proyecto Epa la Ipa abre sus puertas a todas aquellas personas amantes de la cerveza, que buscan una alternativa a las marcas m치s conocidas que ofrece el mercado actual.
         Una marca descontracturada que no respeta los valores tradicionales que venden las grandes marcas XD
         SALUD! 游꽅</h3></div>
        
        
      </div>
    <div class="chiringolo">
        <h2>SUMATE A NUESTRO CLUB DE AMIGOS EPA!!</h2>
  </div >
    <div class= "quequilombo">
    <label>Envianos una foto tomando una de nuestras birras!!<label>
        <input type="file" name="CLUB" accept=".jpg" multiple>
    </div>


<div class="amigosepa">
    <h1>Ellos ya enviaron su foto</h1>
<div class="lasfotoslocas">
    <img class="fotousuario" src="imagenes/alf.jpg" alt="usr" />
    <img class="fotousuario" src="imagenes/arnold.webp" alt="usr" />
    <img class="fotousuario" src="imagenes/ron.webp" alt="usr" />
    <img class="fotousuario" src="imagenes/obirra.jpg" alt="usr" />
</div>
</div>

<%- include ('partials/footer') %>
</body>
</html>