<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIENES SOMOS 👀</title>
    <link rel="stylesheet" href="CSS/quienes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
      rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ac6d87077a.js" crossorigin="anonymous"></script>
</head>
<body> 
    <header>
        <div class="logo">
          <a href="/">
            <img class="logo-img" src="imagenes/logo2.png" alt="logo" />
          </a>
        </div>
        <nav class="nav">
          <ul class="nav-top">
            <li>
              <a href="/producto">Nuestras Birras</a>
            </li>
            <li>
              <a href="/quienes">Quienes Somos</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
          </ul>
          <ul class="nav-bottom">
            <li>
              <a href="/login">Ingresá</a>
            </li>
            <li>
              <a href="/registro">Registrate</a>
            </li>
          </ul>
        </nav>
        <div class="menu-y-carrito">
          <a href="#">
            <i id="hamburguer-menu" class="fas fa-bars"></i>
          </a>
          <a href="/carrito" class="carrito-icon">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </div>
      </header>
    <div class="chiringolo">
        <h2>SUMATE A NUESTRO CLUB DE AMIGOS EPA!!</h2>
       

    </div >
    <div class= "quequilombo">
    <label>Envianos una foto tomando una de nuestras birras!!<label>
        <input type="file" name="CLUB" accept=".jpg" multiple>
    </div>


<div class="amigosepa">
    <h1>Ellos ya enviaron su foto</h1>
<div class="lasfotoslocas">
    <img class="fotousuario" src="imagenes/alf.jpg" alt="usr" />
    <img class="fotousuario" src="imagenes/arnold.webp" alt="usr" />
    <img class="fotousuario" src="imagenes/ron.webp" alt="usr" />
    <img class="fotousuario" src="imagenes/obirra.jpg" alt="usr" />
</div>
</div>




    <footer>
        <div class="footer-sections-container">
          <div class="footer-categorias-container">
            <h4>Categorías</h4>
            <ul>
              <li><a href="/">Home🏡</a></li>
              <li><a href="/producto">Nuestras birras🍻</a></li>
              <li><a href="https://github.com/scalella/grupo_2_Epa_La_Ipa#readme">Quienes somos👀</a></li>
              </ul>
          </div>
          <div class="footer-contacto-conteiner">
            <h4>Contacto</h4>
            <p>ventas@epa-la-ipa.tom.ar 📧</p>
            <p>Avenida Lúpulo 420 🍁</p>
            <p>011 5263-7400 📞</p>
          </div>
    
          <div class="footer-entregas-container">
            <h4>Entregas</h4>
            <p>
              Realizamos envío a todo el país por correo.🚐<br />
              Entregas en CABA por motomensajería.🛵
            </p>
          </div>
        </div>
        <div class="copyright-container">
          <p class="texto-footer">Copyright © 2022 Epa la Ipa S.R.L.</p>
          <p class="texto-footer">
            Sitio web diseñado y desarrollado por
            <a href="https://github.com/scalella/grupo_2_Epa_La_Ipa" target="_blank">Grupo Dos</a>
          </p>
        </div>
      </footer>
</body>
    
</html>