<!DOCTYPE html>
<html lang="es">
    <%- include ('partials/head', {css: 'css/registro.css'}) %>

<body>
    <%- include ('partials/header') %>
    <main>
        <div class="formulario-container">
            <Div class="registro">
                <h2>
                    CREA UNA CUENTA
                </h2>
                <form action="" method="post">
                    <p>
                        <input type="email" placeholder="Ingresa tu correo acá" class="correo">
                    </p>
                    <p>
                        <input type="password" placeholder="Ingresa tu Contraseña" class="password" required>
                    </p>
                    <p>
                        <input type="password" placeholder="Repeti tu Contraseña" class="password" required>
                    </p>
                    <p id="crear-container">    
                        <label for="soymayor">
                            SOY MAYOR 18 AÑOS
                        </label>
                        <input type="checkbox" name="soymayor" required>
                        <button type="submit" id="crear">CREAR</button>
                    </p>
                </form>
            </Div>
            </form>
                <div class="ir-a-login">
                    <a href="/login">
                        <button>
                            PARA!!! YA TENGO CUENTA 🍺
                        </button>
                    </a>
                </div> 
    
            </main>
    
<%- include ('partials/footer') %>

</body>
</html>
