<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Epa la Ipa - Registro 游늶</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"/>

    <script src="https://kit.fontawesome.com/ac6d87077a.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/registro.css" />
</head>
<body>
    <header>
        <div class="container">
            <img src="imagenes/logo2.png" alt="">   
            <nav class="nav-header">
                <ul class="nav-bar">
                    <li>
                        <a href="/home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/producto">
                            Nuestras Birras
                        </a>
                    </li>
                    <li>
                        <a href="/quienes">
                            Quienes Somos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contacto
                        </a>
                    </li>
                </ul>
                <ul class="login-bar">
                    <li>
                        <a href="registro">
                            Registarte
                        </a>
                    </li>
                    <li>
                        <a href="/carrito" id="carrito-icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>    
                </ul>
            </nav>
            <div class="menu-mobil">
                <i class="fas fa-bars"></i>
            </div>
            <div class="menu-mobil">
                <a href="/carrito" id="hb">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </header>
    
    <main>
        <div class="formulario-container">
            <Div class="registro">
                <h2>
                    CREA UNA CUENTA
                </h2>
                <form action="" method="post">
                    <p>
                        <input type="email" placeholder="Ingresa tu correo ac치" class="correo">
                    </p>
                    <p>
                        <input type="password" placeholder="Ingresa tu Contrase침a" class="password" required>
                    </p>
                    <p>
                        <input type="password" placeholder="Repeti tu Contrase침a" class="password" required>
                    </p>
                    <p id="crear-container">    
                        <label for="soymayor">
                            SOY MAYOR 18 A칌OS
                        </label>
                        <input type="checkbox" name="soymayor" required>
                        <button type="submit" id="crear">CREAR</button>
                    </p>
                </form>
            </Div>
            </form>
                <div class="ir-a-login">
                    <a href="/login">
                        <button>
                            PARA!!! YA TENGO CUENTA 游꽄
                        </button>
                    </a>
                </div> 
    
            </main>
    
    <footer>
        <div class="footer-container">
            <section class="categorias">
                <h4>
                    CATEGORIAS
                </h4>
                <ul class="lista-categoria">
                    <li>
                        <a href="/home">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/producto">
                            Nuestras birras
                        </a>
                    </li>
                    <li>
                        <a href="/quienes">
                            Quienes somos
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Contacto
                        </a>
                    </li>
                </ul>
            </section>
            </section class= "entregas-footer">
                <h4>
                    ENTREGAS
                </h4>
                <p>
                    Realizamos env칤o a todo el pa칤s por correo. Entregas en CABA por motomensajer칤a.
                </p>
            </section>
            <section class="pie-de-pagina">
                <p id="copy">
                    Copyright 춸 2022 Epa la Ipa S.R.L.
                </p>
                <p id="texto-footer">
                    Sitio web dise침ado y desarrollado por<a href="https://github.com/scalella/grupo_2_Epa_La_Ipa" target="_blank">
                        Grupo Dos
                    </a>
                </p>
            </section>
        </div>
    </footer>
</body>
</html>
