<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epa la Ipa - Registro 📋</title>
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"/>
      
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/login.css" />
</head>
<body>
    <header>
        <div class="logo">
            <div class="logo-img">
                <img src="imagenes/epa-logo.png" alt="logo de epa la ipa" >   
            </div>
            <nav class="nav-header">
                <ul class="nav-bar">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Nuestras Birras
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Quienes Somos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contacto
                        </a>
                    </li>
                </ul>
                <ul class="login-bar">
                    <li>
                        <a href="#">
                            Ingresá
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            🛒
                        </a>
                    </li>    
                </ul>
            </nav>
        </div>
        <div class="menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h2>CREA UNA CUENTA</h2>
        <form action="" method="post">
            <Div class="container">
                <p>
                    <input type="email" placeholder="Ingresa tu correo acá" class="correo">
                </p>
                <p>
                    <input type="password" placeholder="Ingresa tu Contraseña" class="password" required>
                </p>
                <p>
                    <input type="password" placeholder="Repeti tu Contraseña" class="password" required>
                </p>
                    <label for="soymayor">
                        SOY MAYOR 18 AÑOS
                    </label>
                    <input type="checkbox" name="soymayor" required>
                    <button type="submit" id="crear">CREAR</button>
                </p>
            </Div>
        </form>
        <div class="ir a login">
            <p>
                <button>PARA!!! YA TENGO CUENTA 🍺</button>
            </p>
        </div> 
    </main>
    <footer>
        <div class="footer-sections-container">
            <div class="footer-categorias-container">
              <h4>Categorías</h4>
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Nuestras birras</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="">Contacto</a></li>
              </ul>
            </div>
            <div class="footer-entregas-container">
              <h4>Entregas</h4>
              <p>
                Realizamos envío a todo el país por correo.<br />
                Entregas en CABA por motomensajería.
              </p>
            </div>
          </div>
          <div class="copyright-container">
              <p class="texto-footer">
                Copyright © 2022 Epa la Ipa S.R.L.
              </p>
              <p class="texto-footer">
                  Sitio web diseñado y desarrollado por
                  <a href="https://github.com/scalella/grupo_2_Epa_La_Ipa" target="_blank">
                      Grupo Dos
                  </a>
              </p>
          </div>
    </footer>

</body>
</html>