*{
    margin: 0px;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}
a{
    color: aqua;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url('/imagenes/estaticas/galaxy-night-landscape.jpg');
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    color: white;
}
/*HEADER*/

.logo-img {
    width: 80px;
    transition: all 450ms;
}
.logo-img:hover {
    transform: scale(1.13);
}
header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    order: 1;
    height: 85px;
    padding: 7px;
}
nav {
    display: none;
}
nav li {
    transition: all 450ms;
}
nav li:hover {
    transform: scale(1.1);
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 50px;
}
header a:hover {
    color: #58a4b0;
}
.nav-top,
.nav-bottom {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-top {
    margin-right: 20px;
}
.menu-y-carrito {
    display: flex;
    align-items: center;
}
.carrito-icon {
    font-size: 30px;
    transition: all 450ms;
}
.carrito-icon:hover {
    transform: scale(1.1);
}
#hamburguer-menu {
    color: #f78154;
    font-size: 30px;
    transition: all 450ms;
}
#hamburguer-menu:hover {
    transform: scale(1.2);
}
/*fin del header*/
.buttons{
    width: 70%;
    display:flex;
    align-items: center;
    margin:auto;
    justify-content: space-between;
    flex-direction: row;

}
.buttons button{
    border: 2px solid rgb(246, 164, 49);
    border-radius: 5px;
    background-color: rgba(249, 144, 58, 0.635);
    color: white;
    font-weight: bold;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
#copy{
    display:block;
    margin-top: 2px;
}
.form-container{
    margin:auto;
    width: 80%;
    max-width: 420px;
    border: 2px solid rgb(45, 50, 44);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 45px 0px;
    background-color: rgba(0,0,0,0.45);
}


.Google-acces{
    display:block;
    width: 70%;
    margin: auto;
    padding-top: 30px;

}
.Google-acces button{
    display:block;
    width: 100%;
    background-color: rgba(249, 144, 58, 0.635);
    color:white;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(246, 164, 49);
}


h2{
    font-size: 20px;
    text-align: center;
    color:white;
    margin-bottom:20px;
}


h4{
    display:block;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


#hb{
    color:white;
    text-decoration: none;
    position: relative;
    bottom: 5px;
    right: 15px;
}


.error {
    color: red;
    margin-left: 100px;
}



img{
    display:block;
    width: 120px;
}




.lista-categoria{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 90%;
    margin: auto; 
    list-style-type: none; 
}
.login-container p{
    padding-bottom: 20px;
    width: 80%;
    margin:auto;

}

.mailing button{
    display:block;
    width: 90%;
    background-color:rgba(249, 144, 58, 0.635);
    color:white;
    font-weight: bold;
    border-radius: 5px;
    border-color: rgb(246, 164, 49);
    text-align: center;
    margin: auto;
}


.mailing{
    display: block;
    padding-top:25px;
    width: 80%;
    margin: auto;
    
}


main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 121px auto 0px auto;
    padding: 110px 0px 110px 0px;
    background-image:url('../imagenes/estaticas/loginform.jpg');
    background-size:cover;
    background-attachment:scroll;
    border-radius: 50%;
}


.menu-mobil{
    display:block;
    font-size: 1.5em;
    text-align: center;
    color:rgba(255, 128, 0, 0.896)

}

.menu-mobil .fas{
    padding: 20%;
    border-radius: 20%;
    border: 2px solid rgba(255, 128, 0, 0.896);
    position:relative;
    right: 30px;
}


.nav-header{
    display: none;
}


.password, .correo{
    display: block;
    width: 90%;
    border: 2px solid rgba(45, 50, 44, 0.715);
    border-radius: 5px;
    justify-content: center;
    margin:auto;
}
/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 20px;
}
footer ul {
list-style: none;
padding: 0px;
margin: 0px;
}
footer h4 {
margin-bottom: 20px;
}
footer a {
color: white;
text-decoration: none;
}
footer li a:hover {
transition: all 450ms;
}
footer li a:hover {
color: #58a4b0;
}
.footer-sections-container {
display: flex;
flex-direction: column;
margin-bottom: 20px;
justify-content: space-around;;
text-align: center;
border-top: rgba(255, 255, 255, 0.3) 1px solid;
}

.footer-redes-container ul {
font-size: 30px;
margin-bottom: 20px;
display: flex;
justify-content: center;
gap: 30px;
}

.footer-redes-container,
.footer-contacto-container,
.footer-entregas-container {
width: 200px;
}

.copyright-container {
border-top: rgba(255, 255, 255, 0.3) 1px solid;
width: 100%;
padding: 20px;
text-align: center;
}
.copyright-container a {
transition: all 450ms;
}
.copyright-container a:hover {
    color: #58a4b0;
}
/* RESPONSIVE */

@media (min-width: 768px){
    .footer-sections-container {
        flex-direction: row;
        width: 100%;
    }
}
@media (min-width: 1206px){
    
    nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    #hamburguer-menu {
    display: none;
    }
};
    /*ESTO ES TODO, AMIGOS*/



