/*TODOS*/
* {
  margin: 0px;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url(/IMAGENES/galaxy-night-landscape.jpg);
  margin: 0 12px;
  padding: 0;
  padding-top: 75px;
  color: white;
  background-attachment: fixed;
  background-size: cover;
}

/*HEADER*/

.logo-img {
  width: 80px;
  transition: all 450ms;
}
.logo-img:hover {
  transform: scale(1.13);
}
header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  order: 1;
  height: 85px;
  padding: 7px;
}
nav {
  display: none;
}
nav li {
  transition: all 450ms;
}
nav li:hover {
  transform: scale(1.1);
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 50px;
}
header a:hover {
  color: #58a4b0;
}
.nav-top,
.nav-bottom {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-top {
  margin-right: 20px;
}
.menu-y-carrito {
  display: flex;
  align-items: center;
}
.carrito-icon {
  font-size: 30px;
  transition: all 450ms;
}
.carrito-icon:hover {
  transform: scale(1.1);
}
#hamburguer-menu {
  color: #f78154;
  font-size: 30px;
  transition: all 450ms;
}
#hamburguer-menu:hover {
  transform: scale(1.2);
}

/*SECTIONS*/

h1 {
  align-items: flex-start;
  margin: 2px;
}
.descripcion {
  display: flex;
  padding: 7px;
  margin: 12px;
  flex-direction: column;
}
.nosotros {
  padding: 1%;
  border-radius: 7% 7%;
}
.textito {
  margin: 5px;
}
.chiringolo {
  margin: 2%;
  background-size: 100%;
  border-top: #58a4b0 1px;
}
.quequilombo {
  display: flex;
  padding: 1px;
  margin: 1%;
  background-size: 100%;
}
.amigosepa {
  display: flex;
  padding: 3px;
  margin: 3px;
  flex-direction: column;
  align-items: center;
}
.lasfotoslocas {
  display: flex;
  width: 100%;
  margin: 5px;
  justify-content: space-around;
  flex-direction: column;
}
.fotousuario {
  width: 95%;
  border: #58a4b0 1px solid;
}
.fotousuario:hover {
  transform: scale(1.25);
  border: #58a4b0 2px solid;
  box-shadow: 5px 5px 5px 5px #58a4b0;
}

footer {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 50px;
}
footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
footer h4 {
  margin-bottom: 20px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer li a:hover {
  transition: all 450ms;
}
footer li a:hover {
  color: #58a4b0;
}
.footer-sections-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-top: rgba(255, 255, 255, 0.3) 1px solid;
}

.footer-redes-container ul {
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-redes-container,
.footer-contacto-container,
.footer-entregas-container {
  width: 200px;
}

.copyright-container {
  border-top: rgba(255, 255, 255, 0.3) 1px solid;
  padding: 20px;
  text-align: center;
}
.copyright-container a {
  transition: all 450ms;
}
.copyright-container a:hover {
  color: #58a4b0;
}

/* RESPONSIVE */

@media (min-width: 768px) {
  .footer-sections-container {
    flex-direction: row;
  }
  .lasfotoslocas {
    width: 100%;
    flex-direction: row;
  }
  .fotousuario {
    width: 20%;
  }
}

@media (min-width: 1206px) {
  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #hamburguer-menu {
    display: none;
  }
  .latas {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
}
/*ESTO ES TODO, AMIGOS*/
