<!DOCTYPE html>
<html lang="es">

<%- include ('partials/head', {css: '/css/stilohome.css', title: 'RAJA DE ACA O SOS VOLETA'}) %>

<body>
  <%- include ('partials/header') %>

  
    <img src="/IMAGENES/estaticas/error404.svg" alt="lata" class="error">

  <%- include ('partials/footer') %>

</body>
</html>
