<busqueda class="busqueda">
<form action="/resultadobusqueda" method="post">
    <div class="inspector">
        <input id="buscar" name= "buscar" type="text" placeholder="Destapate una">
        <input type="submit" value="Buscar">
    </div>
</form>
</busqueda>